rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /telemetry/{document} {
      allow create, read, delete: if true;
    }
    match /victories/{document} {
      allow create, read: if true;
    }
  }
}
